<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ChatChat</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-reset.css" rel="stylesheet">

    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/style-responsive.css" rel="stylesheet" />
    <link href="css/chatroom.css" rel="stylesheet"/>

</head>
<body><div id="APP"></div><script src="hello.js"></script><script src="hello.js"></script></body>
<!-- js placed at the end of the document so the pages load faster -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/webClient.js"></script>
</html>